force-app/main/default/CustomFolder/UnofficialSf/flows/Flow Launcher/Edit_Single_Account_91225.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assing_Output_Account</name>
        <label>Assing Output Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OUTPUT_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INPUT_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTPUT_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTPUT_Record.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTPUT_Record.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualRevenue_t</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTPUT_Record.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfEmployees_n</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Industry_Choice</name>
        <choiceText>Industry_Choice</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Редактирует входящую запись Account, без сохранения в базе данных, просто возвращает измененную запись в новой переменной.</description>
    <dynamicChoiceSets>
        <name>Account_Industry_pcs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Edit Single Account 91225 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Single Account 91225</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Upsert_Account_Screen</name>
        <label>Upsert Account Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assing_Output_Account</targetReference>
        </connector>
        <fields>
            <name>Upsert_Account_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upsert_Account_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>INPUT_Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>Account_Industry_pcs</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>INPUT_Account.Industry</elementReference>
                    </defaultValue>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upsert_Account_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AnnualRevenue_t</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>INPUT_Account.AnnualRevenue</elementReference>
                    </defaultValue>
                    <fieldText>Annual Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NumberOfEmployees_n</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>INPUT_Account.NumberOfEmployees</elementReference>
                    </defaultValue>
                    <fieldText>Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upsert_Account_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>INPUT_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OUTPUT_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
