force-app/main/default/flows/Flow Launcher/Datatable_with_Flow_Launcher_and_Reactive_Collection_91225.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Таблица Accounts, на базе Datatable от Unofficial SF, в которой реализованы Row Action и Flow Launcher для редактирования записей в таблице. Таблица Datatable использует рективную коллекцию Reactive Collection от Unofficial SF.</description>
    <environments>Default</environments>
    <interviewLabel>USF Datatable with Flow Launcher and Reactive Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Datatable with Flow Launcher and Reactive Collection 91225</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Datatable_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd</name>
        <label>upd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AccountDatatable_dt.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Datatable_Screen</name>
        <label>Account Datatable Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
        <fields>
            <name>AccountReactiveCollection_rrc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:reactiveRecordCollection_rsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alternateCollection</name>
                <value>
                    <elementReference>Get_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCollection</name>
                <value>
                    <elementReference>UpsertAccount_ur.outputCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountDatatable_dt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Id,Industry,AnnualRevenue,NumberOfEmployees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Id:0, Industry:0, AnnualRevenue:0, NumberOfEmployees:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRemoveRowAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRemoveRowAction</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionType</name>
                <value>
                    <stringValue>Standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeLabel</name>
                <value>
                    <stringValue>Perform Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionButtonLabel</name>
                <value>
                    <stringValue>Perform Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeIcon</name>
                <value>
                    <stringValue>utility:touch_action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionButtonIcon</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AccountReactiveCollection_rrc.outputCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EditAccount_flo</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:flowLauncherSObject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToLaunch</name>
                <value>
                    <stringValue>Edit_Single_Account_91225</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowInputVariableName</name>
                <value>
                    <stringValue>INPUT_Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>INPUT_Record</name>
                <value>
                    <elementReference>AccountDatatable_dt.outputActionedRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFlowInModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showFlowInModal</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpsertAccount_ur</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:upsertRecordByKey_rsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputCollection</name>
                <value>
                    <elementReference>AccountReactiveCollection_rrc.outputCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecord</name>
                <value>
                    <elementReference>EditAccount_flo.OUTPUT_Record</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
