force-app/main/default/FlowActions/FlowActionWithParameters/flows/FlowActionWithParameters_Flow_10122025.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Flow_Request</name>
        <label>Process Flow Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowActionWithParameters_10122025</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Scrin_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apexDefine</name>
            <value>
                <elementReference>ApexDefinedVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputNumber</name>
            <value>
                <elementReference>Enter_the_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>Enter_the_text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
        </inputParameters>
        <nameSegment>FlowActionWithParameters_10122025</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ApexDefine_variable</name>
        <label>Assign ApexDefine variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ApexDefinedVariable.textValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text Value of the ApexDefine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Flow_Request</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Запускает Apex action который принимает кастомный Apex объект с параметрами и возвращает другой Apex объект. Нужен для тестов.</description>
    <environments>Default</environments>
    <interviewLabel>FlowActionWithParameters_Flow_10122025 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowActionWithParameters_Flow_10122025</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ApexDefine_variable</targetReference>
        </connector>
        <fields>
            <name>Enter_the_text</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>some text</stringValue>
            </defaultValue>
            <fieldText>Enter the text</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_the_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Enter the Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scrin_2</name>
        <label>Scrin 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowRequest_result</name>
            <fieldText>&lt;p&gt;FlowRequest: {!Process_Flow_Request}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;responseBody: &lt;/span&gt;{!Process_Flow_Request.responseBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;INITIAL VALUES:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Text&lt;/strong&gt;: {!Enter_the_text}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number&lt;/strong&gt;: {!Enter_the_Number}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ApexDefine.textValue: &lt;/strong&gt;{!ApexDefinedVariable.textValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CONVERTED VALUES:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Text: &lt;/strong&gt;{!Process_Flow_Request.outputString}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number: &lt;/strong&gt;{!Process_Flow_Request.outputNumber}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;ApexDefine.textValue:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Process_Flow_Request.apexDefine.textValue} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexDefinedVariable</name>
        <apexClass>ApexDefineVariable_101225</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
